EstimateS 9 Windows/EstimateSWin910/Resources/DTD/list.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!--

	v11 Lists dtd

-->
<!ELEMENT list tree>

<!ELEMENT custom_data EMPTY>

<!ELEMENT tree (custom_data?,tree_item*)>
<!ATTLIST tree
	line_height NMTOKEN #IMPLIED
	editable (true | false) "false"
>

<!ELEMENT tree_item (custom_data?,tree?)>
<!ATTLIST tree_item
	id NMTOKEN "0"
	label CDATA ""
	font_name CDATA #IMPLIED
	font_size NMTOKEN #IMPLIED
	font_style NMTOKEN #IMPLIED
	icon_url CDATA #IMPLIED
	editable (true | false) "false"
>
